<html>

  <body class="body">
    <!-- contact start -->
    <div class="contact"><br>
      <h2 class="bigfont" style=" margin-left: 28px;">Contact Us</h2>
      <div class="texts">
        
        <p class="smalltags" style="text-align: left;  margin-left: 28px;" >
            We’d love to hear from you. Interested in working together?
            Fill out the form below with some info about your
             project and I will get back to you as soon as I can.
             Please allow a couple days for me to respond.
          </p>
          </div>
          <div class="cconntainerrsss">
    
            <span class="big-circle"></span>
            
            <div class="forms">
              <div class="contact-info" style="margin-left: 10px;">
                <h3 class="title" >Contact Us</h3>
                <h2 >USA</h2>
                <div class="info" >
                  <i class="fa-solid fa-location-dot"></i>
                  <div class="information">
                
                      <p>Sakeesoft Inc.<br>
                      116 Village Blvd. Suite 200 Princeton ,<br/>
                       New Jersey 08540.
                       Fax : 732-296-8355</p>
                  </div>
                  <div class="information">
                      <i class="fa-regular fa-envelope"></i>
                    <p>sales@sakeesoft.com</p>
                  </div>
                  <div class="information">
                    <i class="fa-sharp fa-solid fa-phone-volume"></i>
                    <p> 732-226-2130 , </p>
                    <br/>
                   
                      <p>732-296-9108</p>
                      
                  </div>
                </div>
      
                <div class="social-media">
                  <p>Connect with us :</p>
                  <div class="social-icons">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="contact-info" style="margin-left: 10px;">
                  <h3 class="title">Let's get in touch</h3>
                  <h2>India</h2>
                  <div class="info">
                      <i class="fa-solid fa-location-dot"></i>
      
                    <div class="information">
                      <p> Sakeesoft Pvt. Ltd.<br/>
                          # 125 ,4 th Floor,7th cross
                         <br/> off to Banerghatta main road
                          Dollar Layout,<br/>Btm Layout opp to TG Citadel<br/>
                          Bengaluru.
                          Karnataka 560076.</p>
                    </div>
                    <div class="information">
                      <i class="fa-regular fa-envelope"></i>
                      <p>sales@sakeesoft.com</p>
                    </div>
                    <div class="information">
                      <i class="fa-sharp fa-solid fa-phone-volume"></i>
                      <p> 080 4131 0942</p>
                    </div>
                  </div>
        
                  <div class="social-media">
                    <p>Connect with us :</p>
                    <div class="social-icons">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </div>
                  </div>
                </div>
      
              <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>
      
              
      <div class="container">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">India</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <button class="download-btn">
            Submit</button>
        </form>
      </div>
      
            </div>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d65322410.807415105!2d-84.36929514292514!3d2.167567034951627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sbengaluru!3m2!1d12.9715987!2d77.5945627!4m5!1s0x89c0fb959e00409f%3A0x2cd27b07f83f6d8d!2sNew%20Jersey%2C%20United%20States!3m2!1d40.0583238!2d-74.4056612!5e0!3m2!1sen!2sin!4v1672270908544!5m2!1sen!2sin"
               width="600" height="600" style="border: 1px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
          </div>
          </div>
          
      </div>
       <!-- container  end -->
       <div class="row">
        <!-- First Image with Text -->
        <div class="col-md-6">
          <div class="image-with-text">
            <img src="../../../../../assets/images/newyork.jpg" alt="img" class="small-imageusa">
      
            <div class="text">
              <div style="display: flex; align-items: center;">
                <img src="../../../../../assets/images/united-states-flag-icon.svg" alt="icon" class="icon">&nbsp;&nbsp;&nbsp;
                <span>USA</span>
              </div>
              <address class="mt15 mb15">
                116 Village Blvd. Suite 200 Princeton, <br />
                New Jersey 08540.<br />
                Fax: 732-296-8355
              </address>
              <div class="connectwithus sw-hover-2">
                <a href="#"><i class="fa-solid fa-tty mr10"></i> +732-296-9108</a><br>
                <a href="#"><i class="fa-solid fa-envelope mr10"></i> sales@sakeesoft.com</a>
              </div>
            </div>
          </div>
        </div><br>
      
        <!-- Second Image with Text -->
        <div class="col-md-6">
          <div class="image-with-text">
            <img src="../../../../../assets/images/Sakeesoftimg.jpg" alt="img" class="small-image">
            <div class="text">
              <div style="display: flex; align-items: center;">
                <img src="../../../../../assets/images/indiaflag.svg" alt="icon" class="icon">&nbsp;&nbsp;&nbsp;
                <span>India</span>
              </div>
              <address class="mt15 mb15">
                # 125, 4th Floor, 7th cross off to <br> Banerghatta main road
                Dollar Layout, <br />Btm Layout opp to TG Citadel Bengaluru.<br />
                Karnataka 560076
              </address>
              <div class="connectwithus sw-hover-2">
                <a href="#"><i class="fa-solid fa-tty mr10"></i> +91-41310942</a><br>
                <a href="#"><i class="fa-solid fa-envelope mr10"></i> sales@sakeesoft.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
  <!-- our offices end -->
          </div><br>

  </body>

</html>