
<html>
    <body class="body">
    <div class="full-landing-image sx-bnr-inr overlay-wraper  bg-top-center" 
    style="background-image:url(../../../../../assets/images/office.jpg);">
        <div class="overlay-main bg-white opacity-0"></div> 
        <div class="coooooontainer">
            <div class="sx-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <span class="sx-bnr-sm-title" style="color: aliceblue;">We are Dedicated</span>
                        <h2 class="sx-title" style="color: aliceblue;"> About us</h2>
                    </div>
                </div>
            </div>
        </div> 
        <div class="sx-bnr-outline-text">
            <h1> It Solution</h1>
        </div> 
    </div>
        <!-- image sticky with text  start-->

<!-- main content using About us start -->

    <div class="center reveal">
      
       <div class="contentts"><br>
   
            <div class="titles reveal">
                     <h3> Read More
                        About Sakeesoft</h3> </div>
                     <div class="column">
              <p>
                Sakeesoft provides solutions to multiple verticals including banking, insurance, manufacturing,supply chain, education,
                 transportation and logistics, healthcare, governance and more.
                 Sakeesoft also provides a wide range of information technology solutions and services including  full lifecycle support for Enterprise
                  Resource Planning(ERP) systems, Enterprise Application Integration, Business Intelligence, Data Warehousing, Business Process Management
                  (BPM), and custom application development for companies of all sizes.
                 We are a customer focused organization and believe in maintaining long term relationships with the clients by meeting their 
                 requirements and expectations in a timely manner. In this highly challenging business environment, Sakeesoft is committed 
                 to provide the best of services in the most competitive prices.
                </p>
                </div>
            </div>
            <br>
 
 <div class="titles reveal">
    <h3 class="h2">Our Mission</h3> </div>
    
     <div class="column">
<p>We value our employees and customers while delivering our technology and services in transparent, flexible  and in ethical way.We believe in building long lasting association.
     To provide a package of attractive IT services for business  purposesthrough a competent and motivated team of employees 
        using the state of the art technology to maintain stability 
        and growth of the organization whilst contributing to the IT Sector by providing most advantageous IT solution to all.
    </p>
</div>

<!-- Include the above in your HEAD tag -->

<div class="titles reveal">
    <h3 class="h2">Our Vision</h3> </div>
    
     <div class="column">
<p>  To be the technology provider for the customers for their business advantage by collaborating technology and services.
We believe in saying no to thousands of projects, so that we can really focus on the few that are truly important and meaningful to us.
     We believe in deep collaboration and  cross-pollination of our groups, which allow us to  innovate in a waythat others cannot. 
     And frankly, we don't settle for anything less than excellence in every group in the company, 
    and we have the self-honesty to admit when we're wrong and the courage to change.
    </p>
</div>
</div>
  <br/>
  <br/><br/>
   <!-- main content using About us end -->
<!-- Our team section start  -->
  <section class="mix reveal">
    <h1 class="titlex">our team</h1>
    <p> A team is a group of individuals working together to achieve their goal.
        A group does not necessarily constitute a team.<br/> Teams normally have members with complementary skills and generate synergy<br/>
        through a coordinated effort which allows each member to maximize their strengths and minimize their weaknesses .</p>
    <div class="team-row">
        <div class="member reveal">
            <img src="../../../../../assets/images/photo-1.jpg" alt="">
            <h2>D.L Kulkarni (DLK)</h2>
            <h5>C.E.O</h5>
            <p class="hp">He is the founder and CEO of Sakeesoft and has more than 30 years
                of experience in leading corporate organizations as head of businesses for Applications and Services.
                he was leading India’s first Cloud based ERP company,Ramco Systems as Vice President-Global
                 for ERP Sales and Delivery.</p>
                 <br/><br/><br/><br/>
            <div class="m_menu">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="member reveal">
            <img src="../../../../../assets/images/photo-2.png" alt="">
            <h2>Vijay Kulkarni</h2>
            <h5>VP - Technology</h5>
            <p class="hp">Technology and Co-Founder of Sakeesoft, he operate out of Sakeesoft Inc’s corporate office at Princeton, New Jersey. Vijay has more
                than 25 years of experience and has held senior positions in Able, McGrawhill , Dialogic , Intel, Wipro Infotech in technology deliveries.</p>
            <div class="m_menu">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="member reveal">
            <img src="../../../../../assets/images/person_3.png" class="img-responsive" alt="">
            <h2>Pralhad</h2>
            <h5>Tech Manager</h5>
            <p class="hp"> He has 15 years experience in the IT industry. He has been a senior member of Sakeesoft and operates out of Sakeesoft USA.
                 He brings in a consultative approach to deliver business value and customer success.
                 He has been designing infrastructure solutions for cloud architecture and has vast knowledge of Database systems.</p>
            <div class="m_menu">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>   
</section>
</body>
</html>
<!-- Our team section end  -->

  
  