<div class="footer">

  <div class="row">
    <div class="col-sm">
      <!-- ABOUT SAKEEOSOFT -->
      <h3>Company</h3>
      <div class="main-content">
        <a class=" custom-cursor" routerLink="./about" color="black">AboutUs</a><br>
        
        
        <a class="custom-cursor" routerLink="./contact" color="black">ContactUs</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- Sakeesoft founded in 2004 by team of core software and
        management professionals is well Known for Enterprise Applications
        Consulting, Implementation and Support Services. We offer wide range of
        software and services on Oracle, Microsoft, NetSuite, Ramco Systems for Logistics,
        Supply Chain, Finance, CRM, HCM, BI, Custom Applications on Mobile and Cloud,
        Data Warehousing and Administration. -->

      </div>
    </div>
    <!-- HEADER COMPONENTS -->
    <div class="col-sm" >
      <h3>Useful Links</h3> 
      <div class="main-content"  style="margin-left: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;
        <a class=" custom-cursor" routerLink="./home" color="black">Home</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
    
        <a class=" custom-cursor" routerLink="./public" color="black">Template</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="custom-cursor" routerLink="./bookourdemo" color="black">BookOurDemo</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class=" custom-cursor" routerLink="./productdetails" color="black">ProductDetails</a><br>&nbsp;&nbsp;&nbsp;&nbsp;
       

      </div>
    </div>
    <!-- SAKEESPFT ADRESS -->
    <div class="col-sm">
      <h3>Follow Us</h3>
      <div class="main-content">
        <!-- <span><i class="fa-sharp fa-solid fa-map-pin"></i></span>
        Sakeesoft Pvt. Ltd. <br>
        # 125 ,4 th Floor,7th cross<br>
        off to Banerghatta main road<br>
        Dollar Layout,Btm Layout<br>
        opp to TG Citadel Bengaluru.<br>
        Karnataka 560076 <br><br> -->
        <span><i class="fa-solid fa-envelope"></i></span> &nbsp;&nbsp;
     
        <a href="mailto:sales@sakeesoft.com" style="color: rgb(41, 40, 40);">salessakeesoft.com</a><br> <br>
        <span><i class="fa-solid fa-phone-volume"></i></span> &nbsp;&nbsp;
       
        <a href="tel:+91-41310942" style="color: rgb(7, 7, 7);">+91-41310942</a>

        <ul class="sci">
          <div class="card">
            <a href="https://www.facebook.com/sakeesoft" ><i  class="fa-brands fa-facebook"></i></a>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card">
            <a href="https://twitter.com/Sakeesoft"><i class="fa-brands fa-twitter"></i></a>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card">
            <a href="http://www.sakeesoft.com/"><i class="fa-brands fa-google"></i></a>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="card">
            <a href="https://www.linkedin.com/company/sakeesoft"><i class="fa-brands fa-linkedin"></i></a>
          </div>


        </ul>
      </div>

    </div>

  </div>
  <!-- <div class="copyrightText"> -->
    <p style="color:whitesmoke; text-align: center;">Sakeesoft Copyright © 2015 All Rights Reserved</p>
  <!-- </div> -->
</div>
