<!-- YourComponent.component.html -->
<div class="conatiner">

  <!-- YourComponent.component.html -->

  <div class="image-container">
          <!-- Your image goes here -->
          <div class="overlay-text">
                  <h4  class="fade-in">Information</h4><br>
                  <h4  class="hidden">Dynamic Digital Menu</h4><br>
                
                   <p class="smalltags"> We are part of Organization DDM, underscoring our organizational alignment.
                    If you have a passion for image creation, editing, or cropping,
                    we encourage you to reach out to
                    <a href="mailto:hr@sakeesoft.com" style="color: aliceblue;">hr@sakeesoft.com</a>
                    Your interest in contributing is highly valued, and we look forward to collaboration.
                  </p>
          </div>
  </div>


  
<!-- YourComponent.component.html -->

</div>